<html><head>
		<title>[History]Bioconductor Single Package Builder</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/2.7/report.css" type="text/css"> 
		
		<script type="text/javascript" src="/javascripts/packagebuilder.js"></script>
	</head>
	<body>
	    <a name="top"></a>
		<h1>Bioconductor Single Package Builder - Build History</h1>
		
		
		<div id="build_start"><p><a href="http://merlot2.fhcrc.org:4000">New Build</a></p><p>
</p></div>
		
		<div id="error"></div>

		<div id="initially_hidden" style="display: block; ">
    		<table class="svn_info">
    			<tbody><tr>
    				<td class="svn_info">Snapshot&nbsp;Date:&nbsp;
    					<span class="svn_info" id="svn_info_snapshot_date"></span>
    				</td>
    			</tr>
    			<tr>
    				<td class="svn_info">URL:&nbsp;
    					<span class="svn_info" id="svn_info_svn_url"></span>
    				</td>
    			</tr>
    			<tr>
    				<td class="svn_info">Last&nbsp;Changed&nbsp;Rev:&nbsp;
    					<span class="svn_info" id="svn_last_changed_rev"></span>
    					 / Revision:&nbsp;
    					<span class="svn_info" id="svn_revision"></span>
    				</td>
    			</tr>
    			<tr>
    				<td class="svn_info">Last&nbsp;Changed&nbsp;Date:&nbsp;
    					<span class="svn_info" id="svn_last_changed_date"></span>
    				</td>
    			</tr>
    		</tbody></table>


		<br> 
		<table border="1" class="node_specs"> 
		<tbody><tr id="status_header">
		
                    <tr>
                        <th style="width: 70px;">Hostname</th>
            			<th style="width: 300px;">OS /Arch</th>
            			<th style="width: 110px;"> BUILD</th>
            			<th style="width: 110px;">CHECK</th>
            			<th style="width: 110px;">BUILD BIN</th>
            			<th style="width: 140px;">POST-PROCESSING</th>
                    </tr>
                </tr>
		</tbody><tbody>
		    {% for build in builds %}
		        <tr class="{{build.builder_id}}">
		            <td>{{build.builder_id}}</td>
		            <td>{{build.os}}/{{build.arch}}</td>
		            <td style="width: 110px;" align="left" class="status {{build.builder_id}} buildsrc">
                        <span id="{{build.builder_id}}_buildstatus">
                            <a href="#{{buildbuilder_id}}_buildsrc_anchor">
                                <span class="{{build.builder_id}}_EVENT {{build.buildsrc_result}}">&nbsp;&nbsp;{{build.buildsrc_result}}&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>
                    <td style="width: 110px;" align="left" class="status {{build.builder_id}} checksrc">
                        <span id="{{build.builder_id}}_checkstatus">
                            <a href="#{{build.builder_id}}_check_anchor">
                                <span id="{{build.builder_id}}_check_event" class="{{build.builder_id}}_CHECK_EVENT {{build.checksrc_result}}">&nbsp;&nbsp;{{build.checksrc_result}}&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>
                    <td style="width: 110px;" align="left" class="status {{build.builder_id}} buildbin">
                        <span id="{{build.builder_id}}_buildbinstatus">
                            <a href="#{{build.builder_id}}_buildbin_anchor">
                                <span id="{{build.builder_id}}_buildbin_event" class="moscato2_BUILDBIN_EVENT {{build.buildbin_result}}">&nbsp;&nbsp;{{build.buildbin_result}}&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>
                    <td style="width: 140px;" align="left" class="status {{build.builder_id}} postprocessing">
                        <span id="{{build.builder_id}}_postprocessingstatus">
                            <a href="#{{build.builder_id}}_anchor">
                                <span id="{{build.builder_id}}_postprocessing_event" class="moscato2_POSTPROCESSING_EVENT {{build.postprocessing_result}}">&nbsp;&nbsp;{{build.postprocessing_result}}&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>
                </tr>
		        </tr>
		    {% endfor %}
    		<tr id="nodeinfo_append_to_me">
    		
	            <tbody><tr class="moscato2">
                    <td style="width: 70px;" align="left" class="node moscato2">
                    	<i>moscato2</i>&nbsp;
                    </td>
                    <td style="width: 300px;" align="left" class="node moscato2">
                        <span style="font-size: smaller;" id="nodeinfo_moscato2">Windows Server 2008 R2 Enterprise SP1 (64-bit)/x64</span>
                            &nbsp;
                    </td>
                    <td style="width: 110px;" align="left" class="status moscato2 buildsrc">
                        <span id="moscato2_buildstatus">
                            <a href="#moscato2_buildsrc_anchor">
                                <span class="moscato2_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>

                    <td style="width: 110px;" align="left" class="status moscato2 checksrc">
                        <span id="moscato2_checkstatus">
                            <a href="#moscato2_check_anchor">
                                <span id="moscato2_check_event" class="moscato2_CHECK_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>

                    <td style="width: 110px;" align="left" class="status moscato2 buildbin">
                        <span id="moscato2_buildbinstatus">
                            <a href="#moscato2_buildbin_anchor">
                                <span id="moscato2_buildbin_event" class="moscato2_BUILDBIN_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>

                    <td style="width: 140px;" align="left" class="status moscato2 postprocessing">
                        <span id="moscato2_postprocessingstatus">
                            <a href="#moscato2_anchor">
                                <span id="moscato2_postprocessing_event" class="moscato2_POSTPROCESSING_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
	            <tbody><tr class="lamb2">
                    <td style="width: 70px;" align="left" class="node lamb2">
                    	<i>lamb2</i>&nbsp;
                    </td>
                    <td style="width: 300px;" align="left" class="node lamb2">
                        <span style="font-size: smaller;" id="nodeinfo_lamb2">Linux (openSUSE 11.4)/x86_64</span>
                            &nbsp;
                    </td>
                    <td style="width: 110px;" align="left" class="status lamb2 buildsrc">
                        <span id="lamb2_buildstatus">
                            <a href="#lamb2_buildsrc_anchor">
                                <span class="lamb2_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>

                    <td style="width: 110px;" align="left" class="status lamb2 checksrc">
                        <span id="lamb2_checkstatus">
                            <a href="#lamb2_check_anchor">
                                <span id="lamb2_check_event" class="lamb2_CHECK_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>

                    <td style="width: 110px;" align="left" class="status lamb2 buildbin">
                        <span id="lamb2_buildbinstatus">
                            <a href="#lamb2_buildbin_anchor">
                                <span id="lamb2_buildbin_event" class="lamb2_BUILDBIN_EVENT skipped">&nbsp;&nbsp;skipped&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>

                    <td style="width: 140px;" align="left" class="status lamb2 postprocessing">
                        <span id="lamb2_postprocessingstatus">
                            <a href="#lamb2_anchor">
                                <span id="lamb2_postprocessing_event" class="lamb2_POSTPROCESSING_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
	            <tbody><tr class="petty">
                    <td style="width: 70px;" align="left" class="node petty">
                    	<i>petty</i>&nbsp;
                    </td>
                    <td style="width: 300px;" align="left" class="node petty">
                        <span style="font-size: smaller;" id="nodeinfo_petty">Mac OS X Snow Leopard (10.6.7)/i386</span>
                            &nbsp;
                    </td>
                    <td style="width: 110px;" align="left" class="status petty buildsrc">
                        <span id="petty_buildstatus">
                            <a href="#petty_buildsrc_anchor">
                                <span class="petty_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>

                    <td style="width: 110px;" align="left" class="status petty checksrc">
                        <span id="petty_checkstatus">
                            <a href="#petty_check_anchor">
                                <span id="petty_check_event" class="petty_CHECK_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>

                    <td style="width: 110px;" align="left" class="status petty buildbin">
                        <span id="petty_buildbinstatus">
                            <a href="#petty_buildbin_anchor">
                                <span id="petty_buildbin_event" class="petty_BUILDBIN_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>

                    <td style="width: 140px;" align="left" class="status petty postprocessing">
                        <span id="petty_postprocessingstatus">
                            <a href="#petty_anchor">
                                <span id="petty_postprocessing_event" class="petty_POSTPROCESSING_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody></tr>
		</tbody>
		
		</table>

		</div>
			
		<div id="summaries">
		
			<hr>
			<a name="moscato2_anchor"></a>
			<h2>moscato2 Summary</h2> 
			<p><a href="#top">[top]</a></p>
			<div class="moscato2" style="margin-left: 12px;"> 
				<table> 
					<tbody><tr><td><b>Package</b>: <span id="moscato2_package_name">manta</span></td></tr> 
					<tr><td><b>Version</b>: <span id="moscato2_version">0.9.5</span></td></tr> 
					<tr><td><b>RVersion</b>: <span id="moscato2_r_version">R Under development (unstable) (2011-10-28 r57459)
</span></td></tr> 
					<tr><td><b>BuildCommand</b>: <span id="moscato2_command">E:\biocbld\bbs-2.10-bioc\R\bin\R.exe CMD build --keep-empty-dirs --no-resave-data manta</span></td></tr> 
					<tr><td><b>CheckCommand</b>: <span id="moscato2_check_command">E:\biocbld\bbs-2.10-bioc\R\bin\R.exe CMD check --no-vignettes --timings --force-multiarch --library=manta.buildbin-libdir manta_0.9.5.tar.gz</span></td></tr> 
					<tr><td><b>BuildBinCommand</b>: <span id="moscato2_buildbin_command">E:\biocbld\bbs-2.10-bioc\R\bin\R.exe CMD INSTALL --build --merge-multiarch --library=manta.buildbin-libdir manta_0.9.5.tar.gz</span></td></tr> 
					<tr><td><b>StartedAt</b>: <span id="moscato2_started_at">2011-12-07 11:41:52.640000</span></td></tr> 
					<tr><td><b>EndedAt</b>: <span id="moscato2_ended_at">2011-12-07 11:44:27.268000</span></td></tr> 
					<tr><td><b>ElapsedTime</b>: <span id="moscato2_elapsed_time">-1</span></td></tr> 
					<tr><td><b>RetCode</b>: <span id="moscato2_ret_code">0</span></td></tr> 
					<tr><td><b>Status</b>: <span id="moscato2_status" class="moscato2_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span></td></tr> 
					<tr><td><b>PackageFile</b>: <span id="moscato2_build_product"><a href="http://bioconductor-test.org/scratch-repos/2.15/bin/windows/contrib/2.15">manta_0.9.5.zip</a></span></td></tr> 
					<tr><td><b>PackageFileSize</b>: <span id="moscato2_file_size">2143.73</span> <a href="http://en.wikipedia.org/wiki/KiB" target="_blank">KiB</a></td></tr> 
					<tr><td><b>BuildID:</b>: <span id="moscato2_build_id">manta_20111207114147</span></td></tr> 
					<tr><td><b>Pre/PostProcessing</b>: <span id="moscato2_post_processing">curl to log into tracker returned status 0...curl of tarball completed with status 0...untar of tarball completed with status 0...Result of installing dependencies: 0...Pruning older packages from repository...Copied build file to repository...Updated packages list...Synced repository to website...DONE.</span></td></tr> 
					<tr><td><b>InstallCommand</b>: <br><pre id="moscato2_install_command">source("http://bioconductor.org/scratch-repos/pkgInstall.R")
pkgInstall("manta")</pre></td></tr>
				</tbody></table> 
			</div> 
			<hr> 
			    <a name="moscato2_buildsrc_anchor"></a>
				<h3>moscato2 BUILD SRC output</h3> 
    			<p><a href="#top">[top]</a></p>
				<div class="moscato2" style="margin-left: 12px;"> 
					<pre id="moscato2_console" style="font-size: smaller; padding: 2px;">* checking for file 'manta/DESCRIPTION' ... OK
* preparing 'manta':
* checking DESCRIPTION meta-information ... OK
* installing the package to re-build vignettes
* creating vignettes ... OK
* checking for LF line-endings in source and make files
* checking for empty or unneeded directories
* building 'manta_0.9.5.tar.gz'

</pre>
				</div> 

			<hr> 
			    <a name="moscato2_check_anchor"></a>
				<h3>moscato2 CHECK output</h3> 
    			<p><a href="#top">[top]</a></p>
				<div class="moscato2" style="margin-left: 12px;"> 
					<pre id="moscato2_check_console" style="font-size: smaller; padding: 2px;">* using log directory 'E:/PACKAGEBUILDER/jobs/manta_20111207114147/manta.Rcheck'
* using R Under development (unstable) (2011-10-28 r57459)
* using platform: i386-pc-mingw32 (32-bit)
* using session charset: ISO8859-1
* using option '--no-vignettes'
* checking for file 'manta/DESCRIPTION' ... OK
* this is package 'manta' version '0.9.5'
* checking package namespace information ... OK
* checking package dependencies ... OK
* checking if this is a source package ... OK
* checking if there is a namespace ... OK
* checking whether package 'manta' can be installed ... OK
* checking installed package size ... NOTE
  installed size is  5.5Mb
  sub-directories of 1Mb or more:
    doc       1.4Mb
    extdata   4.0Mb
* checking package directory ... OK
* checking for portable file names ... OK
* checking DESCRIPTION meta-information ... OK
* checking top-level files ... OK
* checking index information ... OK
* checking package subdirectories ... OK
* checking R files for non-ASCII characters ... OK
* checking R files for syntax errors ... OK
* loading checks for arch 'i386'
** checking whether the package can be loaded ... OK
** checking whether the package can be loaded with stated dependencies ... OK
** checking whether the package can be unloaded cleanly ... OK
** checking whether the namespace can be loaded with stated dependencies ... OK
** checking whether the namespace can be unloaded cleanly ... OK
* loading checks for arch 'x64'
** checking whether the package can be loaded ... OK
** checking whether the package can be loaded with stated dependencies ... OK
** checking whether the package can be unloaded cleanly ... OK
** checking whether the namespace can be loaded with stated dependencies ... OK
** checking whether the namespace can be unloaded cleanly ... OK
* checking for unstated dependencies in R code ... OK
* checking S3 generic/method consistency ... OK
* checking replacement functions ... OK
* checking foreign function calls ... OK
* checking R code for possible problems ... NOTE
.as.manta: no visible binding for global variable 'samples'
.as.manta: no visible binding for global variable 'counts'
.calcTMMvar: no visible binding for global variable 'x'
.checkMetaLev: no visible binding for global variable 'meta.sum'
compbiasPlot: no visible binding for global variable 'RAy'
compbiasPlot: no visible global function definition for 'violins'
counts2manta: no visible binding for global variable 'agg'
nr: no visible binding for global variable 'x'
outGenes: no visible binding for global variable 'adj.p'
outGenes: no visible binding for global variable 'R'
* checking Rd files ... OK
* checking Rd metadata ... OK
* checking Rd cross-references ... OK
* checking for missing documentation entries ... OK
* checking for code/documentation mismatches ... OK
* checking Rd \usage sections ... NOTE
S3 methods shown with full name in documentation object 'summary.manta':
  'summary.manta'

The \usage entries for S3 methods should use the \method markup and not
their full name.
See the chapter 'Writing R documentation files' in the 'Writing R
Extensions' manual.
* checking Rd contents ... OK
* checking for unstated dependencies in examples ... OK
* checking examples ...
** running examples for arch 'i386' ... OK
* checking for unstated dependencies in vignettes ... OK
* checking package vignettes in 'inst/doc' ... OK
* checking running R code from vignettes ... SKIPPED
* checking re-building of vignettes ... SKIPPED
* checking PDF version of manual ... OK

</pre>
				</div> 

            <hr> 
                <a name="moscato2_buildbin_anchor">
				<h3>moscato2 BUILD BIN output</h3> 
    			</a><p><a name="moscato2_buildbin_anchor"></a><a href="#top">[top]</a></p>
				<div class="moscato2" style="margin-left: 12px;"> 
					<pre id="moscato2_buildbin_console" style="font-size: smaller; padding: 2px;">
install for i386

* installing *source* package 'manta' ...
** R
** inst
** preparing package for lazy loading
** help
*** installing help indices
** building package indices ...
*** tangling vignette sources ...
   'manta.Rnw' using 'UTF-8' 
** testing if installed package can be loaded

add DLL for x64

* installing *source* package 'manta' ...
** testing if installed package can be loaded
* MD5 sums
packaged installation of 'manta' as manta_0.9.5.zip

* DONE (manta)
</pre>
				</div> 
			

		
		
			<hr>
			<a name="lamb2_anchor"></a>
			<h2>lamb2 Summary</h2> 
			<p><a href="#top">[top]</a></p>
			<div class="lamb2" style="margin-left: 12px;"> 
				<table> 
					<tbody><tr><td><b>Package</b>: <span id="lamb2_package_name">manta</span></td></tr> 
					<tr><td><b>Version</b>: <span id="lamb2_version">0.9.5</span></td></tr> 
					<tr><td><b>RVersion</b>: <span id="lamb2_r_version">R Under development (unstable) (2011-10-25 r57433)</span></td></tr> 
					<tr><td><b>BuildCommand</b>: <span id="lamb2_command">/home/biocbuild/bbs-2.10-bioc/R/bin/R CMD build --keep-empty-dirs --no-resave-data manta</span></td></tr> 
					<tr><td><b>CheckCommand</b>: <span id="lamb2_check_command">/home/biocbuild/bbs-2.10-bioc/R/bin/R CMD check --no-vignettes --timings  manta_0.9.5.tar.gz</span></td></tr> 
					<tr><td><b>BuildBinCommand</b>: <span id="lamb2_buildbin_command"></span></td></tr> 
					<tr><td><b>StartedAt</b>: <span id="lamb2_started_at">2011-12-07 11:41:54.247957</span></td></tr> 
					<tr><td><b>EndedAt</b>: <span id="lamb2_ended_at">2011-12-07 11:42:35.735968</span></td></tr> 
					<tr><td><b>ElapsedTime</b>: <span id="lamb2_elapsed_time">-1</span></td></tr> 
					<tr><td><b>RetCode</b>: <span id="lamb2_ret_code">0</span></td></tr> 
					<tr><td><b>Status</b>: <span id="lamb2_status" class="lamb2_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span></td></tr> 
					<tr><td><b>PackageFile</b>: <span id="lamb2_build_product"><a href="http://bioconductor-test.org/scratch-repos/2.15/src/contrib">manta_0.9.5.tar.gz</a></span></td></tr> 
					<tr><td><b>PackageFileSize</b>: <span id="lamb2_file_size">2112.43</span> <a href="http://en.wikipedia.org/wiki/KiB" target="_blank">KiB</a></td></tr> 
					<tr><td><b>BuildID:</b>: <span id="lamb2_build_id">manta_20111207114147</span></td></tr> 
					<tr><td><b>Pre/PostProcessing</b>: <span id="lamb2_post_processing">curl to log into tracker returned status 0...curl of tarball completed with status 0...untar of tarball completed with status 0...Result of installing dependencies: 0...Pruning older packages from repository...Set read permissions on build product...Copied build file to repository...Updated packages list...Synced repository to website...DONE.</span></td></tr> 
					<tr><td><b>InstallCommand</b>: <br><pre id="lamb2_install_command">source("http://bioconductor.org/scratch-repos/pkgInstall.R")
pkgInstall("manta")</pre></td></tr>
				</tbody></table> 
			</div> 
			<hr> 
			    <a name="lamb2_buildsrc_anchor"></a>
				<h3>lamb2 BUILD SRC output</h3> 
    			<p><a href="#top">[top]</a></p>
				<div class="lamb2" style="margin-left: 12px;"> 
					<pre id="lamb2_console" style="font-size: smaller; padding: 2px;">* checking for file ‘manta/DESCRIPTION’ ... OK
* preparing ‘manta’:
* checking DESCRIPTION meta-information ... OK
* installing the package to re-build vignettes
* creating vignettes ... OK
* checking for LF line-endings in source and make files
* checking for empty or unneeded directories
* building ‘manta_0.9.5.tar.gz’

</pre>
				</div> 

			<hr> 
			    <a name="lamb2_check_anchor"></a>
				<h3>lamb2 CHECK output</h3> 
    			<p><a href="#top">[top]</a></p>
				<div class="lamb2" style="margin-left: 12px;"> 
					<pre id="lamb2_check_console" style="font-size: smaller; padding: 2px;">* using log directory ‘/loc/home/pkgbuild/packagebuilder/jobs/manta_20111207114147/manta.Rcheck’
* using R Under development (unstable) (2011-10-25 r57433)
* using platform: x86_64-unknown-linux-gnu (64-bit)
* using session charset: UTF-8
* using option ‘--no-vignettes’
* checking for file ‘manta/DESCRIPTION’ ... OK
* this is package ‘manta’ version ‘0.9.5’
* checking package namespace information ... OK
* checking package dependencies ... OK
* checking if this is a source package ... OK
* checking if there is a namespace ... OK
* checking whether package ‘manta’ can be installed ... OK
* checking installed package size ... NOTE
  installed size is  5.6Mb
  sub-directories of 1Mb or more:
    doc       1.5Mb
    extdata   4.0Mb
* checking package directory ... OK
* checking for portable file names ... OK
* checking for sufficient/correct file permissions ... OK
* checking DESCRIPTION meta-information ... OK
* checking top-level files ... OK
* checking index information ... OK
* checking package subdirectories ... OK
* checking R files for non-ASCII characters ... OK
* checking R files for syntax errors ... OK
* checking whether the package can be loaded ... OK
* checking whether the package can be loaded with stated dependencies ... OK
* checking whether the package can be unloaded cleanly ... OK
* checking whether the namespace can be loaded with stated dependencies ... OK
* checking whether the namespace can be unloaded cleanly ... OK
* checking for unstated dependencies in R code ... OK
* checking S3 generic/method consistency ... OK
* checking replacement functions ... OK
* checking foreign function calls ... OK
* checking R code for possible problems ... NOTE
.as.manta: no visible binding for global variable ‘samples’
.as.manta: no visible binding for global variable ‘counts’
.calcTMMvar: no visible binding for global variable ‘x’
.checkMetaLev: no visible binding for global variable ‘meta.sum’
compbiasPlot: no visible binding for global variable ‘RAy’
compbiasPlot: no visible global function definition for ‘violins’
counts2manta: no visible binding for global variable ‘agg’
nr: no visible binding for global variable ‘x’
outGenes: no visible binding for global variable ‘adj.p’
outGenes: no visible binding for global variable ‘R’
* checking Rd files ... OK
* checking Rd metadata ... OK
* checking Rd cross-references ... OK
* checking for missing documentation entries ... OK
* checking for code/documentation mismatches ... OK
* checking Rd \usage sections ... NOTE
S3 methods shown with full name in documentation object 'summary.manta':
  ‘summary.manta’

The \usage entries for S3 methods should use the \method markup and not
their full name.
See the chapter ‘Writing R documentation files’ in the ‘Writing R
Extensions’ manual.
* checking Rd contents ... OK
* checking for unstated dependencies in examples ... OK
* checking examples ... OK
* checking for unstated dependencies in vignettes ... OK
* checking package vignettes in ‘inst/doc’ ... OK
* checking running R code from vignettes ... SKIPPED
* checking re-building of vignettes ... SKIPPED
* checking PDF version of manual ... OK

</pre>
				</div> 

            <hr> 
                <a name="lamb2_buildbin_anchor">
				<h3>lamb2 BUILD BIN output</h3> 
    			</a><p><a name="lamb2_buildbin_anchor"></a><a href="#top">[top]</a></p>
				<div class="lamb2" style="margin-left: 12px;"> 
					<pre id="lamb2_buildbin_console" style="font-size: smaller; padding: 2px;"></pre>
				</div> 
			

		
		
			<hr>
			<a name="petty_anchor"></a>
			<h2>petty Summary</h2> 
			<p><a href="#top">[top]</a></p>
			<div class="petty" style="margin-left: 12px;"> 
				<table> 
					<tbody><tr><td><b>Package</b>: <span id="petty_package_name">manta</span></td></tr> 
					<tr><td><b>Version</b>: <span id="petty_version">0.9.5</span></td></tr> 
					<tr><td><b>RVersion</b>: <span id="petty_r_version">R Under development (unstable) (2011-10-27 r57452)</span></td></tr> 
					<tr><td><b>BuildCommand</b>: <span id="petty_command">/Library/Frameworks/R.framework/Versions/2.15/Resources/bin/R CMD build --keep-empty-dirs --no-resave-data manta</span></td></tr> 
					<tr><td><b>CheckCommand</b>: <span id="petty_check_command">/Library/Frameworks/R.framework/Versions/2.15/Resources/bin/R CMD check --no-vignettes --timings  --no-multiarch  manta_0.9.5.tar.gz</span></td></tr> 
					<tr><td><b>BuildBinCommand</b>: <span id="petty_buildbin_command">../../build-universal.sh manta_0.9.5.tar.gz /Users/pkgbuild/packagebuilder/R-libs</span></td></tr> 
					<tr><td><b>StartedAt</b>: <span id="petty_started_at">2011-12-07 11:41:58.092681</span></td></tr> 
					<tr><td><b>EndedAt</b>: <span id="petty_ended_at">2011-12-07 11:44:32.936020</span></td></tr> 
					<tr><td><b>ElapsedTime</b>: <span id="petty_elapsed_time">-1</span></td></tr> 
					<tr><td><b>RetCode</b>: <span id="petty_ret_code">0</span></td></tr> 
					<tr><td><b>Status</b>: <span id="petty_status" class="petty_EVENT OK">&nbsp;&nbsp;OK&nbsp;&nbsp;</span></td></tr> 
					<tr><td><b>PackageFile</b>: <span id="petty_build_product"><a href="http://bioconductor-test.org/scratch-repos/2.15/bin/macosx/leopard/contrib/2.15">manta_0.9.5.tgz</a></span></td></tr> 
					<tr><td><b>PackageFileSize</b>: <span id="petty_file_size">2164.11</span> <a href="http://en.wikipedia.org/wiki/KiB" target="_blank">KiB</a></td></tr> 
					<tr><td><b>BuildID:</b>: <span id="petty_build_id">manta_20111207114147</span></td></tr> 
					<tr><td><b>Pre/PostProcessing</b>: <span id="petty_post_processing">curl to log into tracker returned status 0...curl of tarball completed with status 0...untar of tarball completed with status 0...Result of installing dependencies: 0...Pruning older packages from repository...Set read permissions on build product...Copied build file to repository...Updated packages list...Synced repository to website...DONE.</span></td></tr> 
					<tr><td><b>InstallCommand</b>: <br><pre id="petty_install_command">source("http://bioconductor.org/scratch-repos/pkgInstall.R")
pkgInstall("manta")</pre></td></tr>
				</tbody></table> 
			</div> 
			<hr> 
			    <a name="petty_buildsrc_anchor"></a>
				<h3>petty BUILD SRC output</h3> 
    			<p><a href="#top">[top]</a></p>
				<div class="petty" style="margin-left: 12px;"> 
					<pre id="petty_console" style="font-size: smaller; padding: 2px;">* checking for file 'manta/DESCRIPTION' ... OK
* preparing 'manta':
* checking DESCRIPTION meta-information ... OK
* installing the package to re-build vignettes
* creating vignettes ... OK
* checking for LF line-endings in source and make files
* checking for empty or unneeded directories
* building 'manta_0.9.5.tar.gz'

</pre>
				</div> 

			<hr> 
			    <a name="petty_check_anchor"></a>
				<h3>petty CHECK output</h3> 
    			<p><a href="#top">[top]</a></p>
				<div class="petty" style="margin-left: 12px;"> 
					<pre id="petty_check_console" style="font-size: smaller; padding: 2px;">* using log directory '/Users/pkgbuild/packagebuilder/jobs/manta_20111207114147/manta.Rcheck'
* using R Under development (unstable) (2011-10-27 r57452)
* using platform: i386-apple-darwin9.8.0 (32-bit)
* using session charset: ASCII
* using option '--no-vignettes'
* checking for file 'manta/DESCRIPTION' ... OK
* this is package 'manta' version '0.9.5'
* checking package namespace information ... OK
* checking package dependencies ... OK
* checking if this is a source package ... OK
* checking if there is a namespace ... OK
* checking whether package 'manta' can be installed ... OK
* checking installed package size ... NOTE
  installed size is  5.6Mb
  sub-directories of 1Mb or more:
    doc       1.4Mb
    extdata   4.0Mb
* checking package directory ... OK
* checking for portable file names ... OK
* checking for sufficient/correct file permissions ... OK
* checking DESCRIPTION meta-information ... OK
* checking top-level files ... OK
* checking index information ... OK
* checking package subdirectories ... OK
* checking R files for non-ASCII characters ... OK
* checking R files for syntax errors ... OK
* checking whether the package can be loaded ... OK
* checking whether the package can be loaded with stated dependencies ... OK
* checking whether the package can be unloaded cleanly ... OK
* checking whether the namespace can be loaded with stated dependencies ... OK
* checking whether the namespace can be unloaded cleanly ... OK
* checking for unstated dependencies in R code ... OK
* checking S3 generic/method consistency ... OK
* checking replacement functions ... OK
* checking foreign function calls ... OK
* checking R code for possible problems ... NOTE
.as.manta: no visible binding for global variable 'samples'
.as.manta: no visible binding for global variable 'counts'
.calcTMMvar: no visible binding for global variable 'x'
.checkMetaLev: no visible binding for global variable 'meta.sum'
compbiasPlot: no visible binding for global variable 'RAy'
compbiasPlot: no visible global function definition for 'violins'
counts2manta: no visible binding for global variable 'agg'
nr: no visible binding for global variable 'x'
outGenes: no visible binding for global variable 'adj.p'
outGenes: no visible binding for global variable 'R'
* checking Rd files ... OK
* checking Rd metadata ... OK
* checking Rd cross-references ... OK
* checking for missing documentation entries ... OK
* checking for code/documentation mismatches ... OK
* checking Rd \usage sections ... NOTE
S3 methods shown with full name in documentation object 'summary.manta':
  'summary.manta'

The \usage entries for S3 methods should use the \method markup and not
their full name.
See the chapter 'Writing R documentation files' in the 'Writing R
Extensions' manual.
* checking Rd contents ... OK
* checking for unstated dependencies in examples ... OK
* checking sizes of PDF files under 'inst/doc' ... OK
* checking examples ... OK
* checking for unstated dependencies in vignettes ... OK
* checking package vignettes in 'inst/doc' ... OK
* checking running R code from vignettes ... SKIPPED
* checking re-building of vignettes ... SKIPPED
* checking PDF version of manual ... OK

</pre>
				</div> 

            <hr> 
                <a name="petty_buildbin_anchor">
				<h3>petty BUILD BIN output</h3> 
    			</a><p><a name="petty_buildbin_anchor"></a><a href="#top">[top]</a></p>
				<div class="petty" style="margin-left: 12px;"> 
					<pre id="petty_buildbin_console" style="font-size: smaller; padding: 2px;">&gt;&gt;&gt;&gt;&gt;&gt;&gt; 
&gt;&gt;&gt;&gt;&gt;&gt;&gt; INSTALLATION WITH 'R CMD INSTALL --preclean --library=/Users/pkgbuild/packagebuilder/R-libs manta_0.9.5.tar.gz'
&gt;&gt;&gt;&gt;&gt;&gt;&gt; 

* installing *source* package 'manta' ...
** R
** inst
** preparing package for lazy loading
** help
*** installing help indices
** building package indices ...
*** tangling vignette sources ...
   'manta.Rnw' using 'UTF-8' 
** testing if installed package can be loaded

* DONE (manta)


</pre>
				</div> 
			

		
		</div>
			
		<div id="summary_template" style="display: none; ">
			<hr>
			<a name="NODENAME_anchor"></a>
			<h2>NODENAME Summary</h2> 
			<p><a href="#top">[top]</a></p>
			<div class="NODENAME" style="margin-left: 12px;"> 
				<table> 
					<tbody><tr><td><b>Package</b>: <span id="NODENAME_package_name"></span></td></tr> 
					<tr><td><b>Version</b>: <span id="NODENAME_version"></span></td></tr> 
					<tr><td><b>RVersion</b>: <span id="NODENAME_r_version"></span></td></tr> 
					<tr><td><b>BuildCommand</b>: <span id="NODENAME_command"></span></td></tr> 
					<tr><td><b>CheckCommand</b>: <span id="NODENAME_check_command"></span></td></tr> 
					<tr><td><b>BuildBinCommand</b>: <span id="NODENAME_buildbin_command"></span></td></tr> 
					<tr><td><b>StartedAt</b>: <span id="NODENAME_started_at"></span></td></tr> 
					<tr><td><b>EndedAt</b>: <span id="NODENAME_ended_at"></span></td></tr> 
					<tr><td><b>ElapsedTime</b>: <span id="NODENAME_elapsed_time"></span></td></tr> 
					<tr><td><b>RetCode</b>: <span id="NODENAME_ret_code"></span></td></tr> 
					<tr><td><b>Status</b>: <span id="NODENAME_status" class="IN_PROGRESS NODENAME_EVENT">&nbsp;IN&nbsp;PROGRESS&nbsp;</span></td></tr> 
					<tr><td><b>PackageFile</b>: <span id="NODENAME_build_product"></span></td></tr> 
					<tr><td><b>PackageFileSize</b>: <span id="NODENAME_file_size"></span> <a href="http://en.wikipedia.org/wiki/KiB" target="_blank">KiB</a></td></tr> 
					<tr><td><b>BuildID:</b>: <span id="NODENAME_build_id"></span></td></tr> 
					<tr><td><b>Pre/PostProcessing</b>: <span id="NODENAME_post_processing"></span></td></tr> 
					<tr><td><b>InstallCommand</b>: <br><pre id="NODENAME_install_command"></pre></td></tr>
				</tbody></table> 
			</div> 
			<hr> 
			    <a name="NODENAME_buildsrc_anchor"></a>
				<h3>NODENAME BUILD SRC output</h3> 
    			<p><a href="#top">[top]</a></p>
				<div class="NODENAME" style="margin-left: 12px;"> 
					<pre id="NODENAME_console" style="font-size: smaller; padding: 2px;"></pre>
				</div> 

			<hr> 
			    <a name="NODENAME_check_anchor"></a>
				<h3>NODENAME CHECK output</h3> 
    			<p><a href="#top">[top]</a></p>
				<div class="NODENAME" style="margin-left: 12px;"> 
					<pre id="NODENAME_check_console" style="font-size: smaller; padding: 2px;"></pre>
				</div> 

            <hr> 
                <a name="NODENAME_buildbin_anchor">
				<h3>NODENAME BUILD BIN output</h3> 
    			</a><p><a name="NODENAME_buildbin_anchor"></a><a href="#top">[top]</a></p>
				<div class="NODENAME" style="margin-left: 12px;"> 
					<pre id="NODENAME_buildbin_console" style="font-size: smaller; padding: 2px;"></pre>
				</div> 
			

		
		</div>
	
	
	    <div class="hideMe" style="display: none; ">
	        <table id="appendMe">
	            <tbody><tr class="NODENAME">
                    <td style="width: 70px;" align="left" class="node NODENAME">
                    	<i>NODENAME</i>&nbsp;
                    </td>
                    <td style="width: 300px;" align="left" class="node NODENAME">
                        <span style="font-size: smaller;" id="nodeinfo_NODENAME"></span>
                            &nbsp;
                    </td>
                    <td style="width: 110px;" align="left" class="status NODENAME buildsrc">
                        <span id="NODENAME_buildstatus">
                            <a href="#NODENAME_buildsrc_anchor">
                                <span class="IN_PROGRESS NODENAME_EVENT">
                                    &nbsp;IN&nbsp;PROGRESS&nbsp;
                                </span>
                            </a>
                        </span>
                    </td>

                    <td style="width: 110px;" align="left" class="status NODENAME checksrc">
                        <span id="NODENAME_checkstatus">
                            <a href="#NODENAME_check_anchor">
                                <span id="NODENAME_check_event" class="IN_PROGRESS NODENAME_CHECK_EVENT">
                                </span>
                            </a>
                        </span>
                    </td>

                    <td style="width: 110px;" align="left" class="status NODENAME buildbin">
                        <span id="NODENAME_buildbinstatus">
                            <a href="#NODENAME_buildbin_anchor">
                                <span id="NODENAME_buildbin_event" class="IN_PROGRESS NODENAME_BUILDBIN_EVENT">
                                </span>
                            </a>
                        </span>
                    </td>

                    <td style="width: 140px;" align="left" class="status NODENAME postprocessing">
                        <span id="NODENAME_postprocessingstatus">
                            <a href="#NODENAME_anchor">
                                <span id="NODENAME_postprocessing_event" class="IN_PROGRESS NODENAME_POSTPROCESSING_EVENT">
                                </span>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody></table>
            
            
            <table>
                <thead id="get_header_here">
                    <tr>
                        <th style="width: 70px;">Hostname</th>
            			<th style="width: 300px;">OS /Arch</th>
            			<th style="width: 110px;"> BUILD</th>
            			<th style="width: 110px;">CHECK</th>
            			<th style="width: 110px;">BUILD BIN</th>
            			<th style="width: 140px;">POST-PROCESSING</th>
                    </tr>
                </thead>
            </table>
	    </div>
		
			
	
</body></html>