{% extends "base.html" %}
{% block title %}Recent Builds{% endblock %}
{% block content %}
    {% if recent_builds %}
            <table>

                {% for build in recent_builds %}
                    <tr>
                        <td>{{build.package.name}}</td>
                        <td><abbr class="timeago" title="{{build.time_started|date:"c"}}">{{build.time_started|date:"c"}}</abbr></td>
                    </tr>
                {% endfor %}
        </table>
    {% endif %}
{% endblock %}
